<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>My workouts</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/workout" color="secondary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
 
  <ion-list>
    <ion-item button [routerLink]="['/workout', workout.id]" *ngFor="let workout of (workouts | async)">
      <ion-label>{{ workout.name }}</ion-label>
      <ion-note slot="end">{{workout.totalWeight}}</ion-note> 
    </ion-item>
  </ion-list>
</ion-content>
